# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
generated_plugin_registrant.dart
flutter_*.png

# IntelliJ / Android Studio
*.iml
.idea/
android/.gradle/
android/captures/
android/local.properties

# VS Code
.vscode/

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Web
web/.dart_tool/

# Otros
*.log
*.lock
*.tmp
*.swp

# Environment
.env
